/* reset */
* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	color: #666666;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}
ul {
	list-style-type: none;
}

#header {
	display: static;
	border-bottom: 1px solid #E1E1E1;
}
#nav-header {
	float: left;
	color: #6D6D6D;
}
#nav-button {
	float: left;
	padding: 13px 17px;
	border-right: 1px solid #E1E1E1;
	cursor: pointer;
}
#logo {
	float: left;
	padding: 9px 10px 8px;
}
#top-nav {
	float: right;
	margin: 0;
}
.top-nav-item {
	position: relative;
	float: left;
	padding: 13px 17px;
	color: #6D6D6D;
	border-left: 1px solid #E1E1E1;
	cursor: pointer;
}
.top-nav-item:hover {
	background-color: #373737;
}
.top-nav-item .label {
	text-shadow: none;
    padding: 1px 4px;
    position: absolute;
    top: 8px; left: 6px;
    background-color: #F56B6B;
}
@media (max-width: 1200px) {
	.top-nav-item.signout .hidden-below-1200px {
		display: none;
	}
}
#left-column {
	width: 50px;
	transition: width .3s;
}
#left-column a {
	display: block;
	padding: 10px;
	color: #C4C4C4;
	text-decoration: none;
	border-bottom: 1px solid #585858;
}
#profile {
	display: none;
}
#menu {
	background-color: #515151;
}
#menu>li {
	position: relative;
	cursor: pointer;
}
#menu>li>ul {
	position: absolute;
	top: 0; left: 50px;
	width: 210px;
}
#menu>li>a {
	padding-left: 13px;
}
#menu ul {
	display: none;
	background-color: #515151;
}
#menu>li ul a {
	padding-left: 20px;
}
#menu li ul a:before {
	 content: "\f101";
    font-size: 14px;
    font-family: FontAwesome;
    margin-left: 10px;
    margin-right: 10px;
    transition: margin ease 0.5s;
}
#menu li ul a:hover:before {
    margin-right: 20px;
}
#menu>li>a>span {
	display: none;
}
#menu li ul ul a {
	padding-left: 30px;
}
#menu .scroll.parent>a:after {
	content: "\f054";
	float: right;
	font-family: fontAwesome;
}
#menu .scroll.parent.open>a:after {
	content: "\f078";
}
#left-column.active{
	width: 235px;
}
#left-column.active #profile {
	display: block;
}
#left-column.active #profile-details {
	margin-left: 15px;
}
#left-column.active #profile>div {
	float: left;
}
#left-column.active #profile-name {
	margin: 6px 0 0;
}
#left-column.active #menu ul{
	position: static;
	width: auto;
}
/* 清除浮动 */
.clear:after {
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}
.clear {
	zoom: 1;
}
.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}